__pycache__
.DS_Store
notebooks
cover/data/covertype11_full.csv
cover/data/covertype11_test.csv
cover/data/covertype11_test_comanche.csv
cover/data/covertype11_test_neota.csv
cover/data/covertype11_test_poudre.csv
cover/data/covertype11_test_rawah.csv
cover/data/covertype11_train.csv
cover/data/covertype11_train_comanche.csv
cover/data/covertype11_train_neota.csv
cover/data/covertype11_train_poudre.csv
cover/data/covertype11_train_rawah.csv
cover/data/covertype11_validation.csv
cover/data/covertype11_validation_comanche.csv
cover/data/covertype11_validation_neota.csv
cover/data/covertype11_validation_poudre.csv
cover/data/covertype11_validation_rawah.csv
code_archive
*/log/[0-9]*/
heart/data/heart_disease_validation_va.csv
heart/data/heart_disease_validation_switzerland.csv
heart/data/heart_disease_validation_sa.csv
heart/data/heart_disease_validation_hungarian.csv
heart/data/heart_disease_validation_framingham.csv
heart/data/heart_disease_validation_faisalabad.csv
heart/data/heart_disease_validation_cleveland.csv
heart/data/heart_disease_va_full.csv
heart/data/heart_disease_train_va.csv
heart/data/heart_disease_train_switzerland.csv
heart/data/heart_disease_train_sa.csv
heart/data/heart_disease_train_hungarian.csv
heart/data/heart_disease_train_framingham.csv
heart/data/heart_disease_train_faisalabad.csv
heart/data/heart_disease_train_cleveland.csv
heart/data/heart_disease_test_va.csv
heart/data/heart_disease_test_switzerland.csv
heart/data/heart_disease_test_sa.csv
heart/data/heart_disease_test_hungarian.csv
heart/data/heart_disease_test_framingham.csv
heart/data/heart_disease_test_faisalabad.csv
heart/data/heart_disease_test_cleveland.csv
heart/data/heart_disease_switzerland_full.csv
heart/data/heart_disease_sa_full.csv
heart/data/heart_disease_hungarian_full.csv
heart/data/heart_disease_framingham_full.csv
heart/data/heart_disease_faisalabad_full.csv
heart/data/heart_disease_cleveland_full.csv
oldlogs
heart/data/*/
heart/log/in-paper/seed*/
retail/
Terminal Saved Output.txt
terminal_run_log.txt
